databases/
singularity_sfi_files/
ftscripts/*.pyc
organism/
!organism/test
logs/
__pycache__/
*.yml
!config.yml
!config_test.yml
.vscode/*
.nextflow/
nextflow/work
nextflow/bin
nextflow/.nextflow.log*